{% extends "base.html" %}

{% block title %}
AndroidGuard -- Welcome
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Welcome to AndroidGuard</h1>
        <p>You can use AndroidGuard to track your android device's location, and trigger some remote actions in case it is stolen.</p>
    </header>
    <section>
        <h3>Track mobile device location</h3>
        <p>The device will send its location periodically to the server. You can find where your devices are when you log in.</p>
    </section>
    <section>
        <h3>Steath mode</h3>
        <p>Activate stealth mode to hide the application from the home screen.</p>
        <p>By doing that, You can only launch it by dialing the secret number, or using remote commands.</p>
    </section>
    <section>
        <h3>Trigger remote commands</h3>
        <p>You can also trigger remote commands from the website(wipe SD card, refresh location, ...).</p>
    </section>
    <section>
        <h3>SMS commands</h3>
        <p>In case the device does not have an active internet connection, You can send commands to the device using SMS messages.</p>
        <p>The device will reply back with a response to the same number that initiated the command.</p>
        <p>currently available remote SMS commands:</p>
        <ul>
            <li>androidguard getloc</li>
            <p>To get current location.</p>
            <li>androidguard wipesdcard</li>
            <p>To wipe sd card.</p>
            <li>androidguard showapp</li>
            <p>To show the app when it is operating in stealth mode.</p>
        </ul>
    </section>
</article>
{% endblock %}

{% block sidebar %}
<aside>
    <h3>Getting started</h3>
    <p>Just signup, and install the <a href="{{ url_for('static', filename='AndroidGuard.apk') }}">application</a> on your android device.</p>
</aside>
{% endblock %}